<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<!-- Navbar-->
<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="landing-page" id="logo"><span>Promo</span>Tourism</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="landing-page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Gallary</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<!--Main Content-->
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../assets/Images/Illustrator.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="divider d-flex align-items-center my-4">
            <div class="main-text">
              <h1><span> Sign </span> In </h1>
            </div>
          </div>

          <!-- Email input -->
          <div class="form-group">
            <label for="email">Username</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Your Email" required><br>
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger">
              <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="loginForm.get('email')?.errors?.['email']">Not a valid email.</div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required><br>
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
              Password is required.
            </div>
          </div>

          <!-- Submit Button -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!loginForm.valid">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

 <!-- Footer -->
 <footer id="footer">
  <h1><span>Promo</span>Tourism</h1>
  <p>Visit Our Social Media</p>
  <div class="social-links">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="credit">
      <p>Designed By <a href="#">Ratih Suarningsih</a></p>
  </div>
  <div class="copyright">
      <p>&copy;Promo Tourism</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>

</section>